/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-image: url("../images/full-bloom.png");
}

header {
	background-color: #ffffff;
}

.name {
	display: inline-block;
	font-family: 'Georgia', Times, Times New Roman, serifs;
	font-size: 45px;
	color: #ffffff;
	text-align: center;
	width: 25%;
	background-color: #4aaaa5;
	margin-left: 10%;
	padding: 25px;
}


.menu {
	display: flex;
	float: right;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;	
	font-size: 20px;
	margin-top: 38px;
	margin-right: 150px;
}

a:visited {
	color: #777777;
}

#about {
	padding-right: 10px;
}

#portfolio {
	padding-right: 10px;
	padding-left: 10px;
	border-right: 1px;
	border-right-style: solid;
	border-right-color: #777777;
	border-left: 1px;
	border-left-style: solid;
	border-left-color: #777777;	
}

#contact {
	padding-right: 10px;
	padding-left: 10px;
}

.block {
	background-color: #ffffff;
	margin: 3% 15% 5% 15%;
	padding: 3% 5% 5% 5%;
}

.pic {
	float: left;
	padding-right: 20px;
	padding-top: 20px;
}

.aboutme{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 45px;
	color: #4aaaa5;
	padding-bottom: 20px;
	border-bottom: 2px;
	border-style: solid;
	border-color: #777777;

}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 150%;
	color: #777777;
	padding-top: 20px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	text-align: center;
	background-color: #777777;
	width: 100%;
	padding-top: 3%;
	border-top: 10px;
	border-color: #4aaaa5;
	border-style: solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #ffffff;
	font-size: 12px;
	padding-bottom: 5px;
}	

.project {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #ffffff;
	margin: 3% 15% 5% 15%;
}